body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
  margin-top: 94px;
}


img {
  height: auto;
  max-width: 100%;
}


a {
  text-decoration: none;
}

.elem {
  opacity: 0.1;
  transition: 1s;
  transform: rotate(45deg);
}

.isAnimate {
  opacity: 1;
  transform: rotate(0); 
}